extends layout

block content
  .timeline
    h2 on Progress
    table#good-list
      tr
        th Name
        th Photo
        th Starting price
        th Time left
        th Enter
      for good in goods
        tr
          td= good.name
          td: img(src='/img/' + good.img)
          td= good.price
          td.time(data-start=good.createdAt) 00:00:00
          td: a.enter.btn(href='/good/' + good.id) Enter
  script(src='https://cdnjs.cloudflare.com/ajax/libs/event-source-polyfill/0.0.9/eventsource.min.js')
  script.
    var es = new EventSource('/sse');
    es.onmessage = function (e) {
     [].forEach.call(document.querySelectorAll('.time'), function(td) {
        var end = new Date(td.dataset.start);
        var server = new Date(parseInt(e.data, 10));
       // end.setDate(end.getDate() + 1); one day later
             end.setSeconds(end.getSeconds() + 45 ); // 45 seconds later
        if (server >= end) {
          return td.textContent = '00:00:00';
        } else {
          var t = end - server;

          var seconds = ('0' + Math.floor((t / 1000) % 60)).slice(-2);
          var minutes = ('0' + Math.floor((t / 1000 / 60) % 60)).slice(-2);
          var hours = ('0' + Math.floor((t / (1000 * 60 * 60)) % 24)).slice(-2);
          return td.textContent = hours + ':' + minutes + ':' + seconds ;
        }
      });
    };